<div class="hero-wrap js-fullheight" style="background-image: url('/pacific-main/images/bg_5.jpg');">
    <div class="overlay"></div>
    <div class="container">
        <div class="row no-gutters slider-text js-fullheight align-items-center" data-scrollax-parent="true">
            <div class="col-md-7 ftco-animate">
                <span class="subheading">Pasifik'e Hoş Gelginiz</span>
                <h1 class="mb-4">Favori Yerinizi Bizimle Keşfedin</h1>
                <p class="caps">Dünyanın herhangi bir köşesine, daireler çizmeden seyahat edin.</p>
            </div>
            <a href="https://www.youtube.com/watch?v=BK_DLRiwLkQ" class="icon-video popup-vimeo d-flex align-items-center justify-content-center mb-4">
                <span class="fa fa-play"></span>
            </a>
        </div>
    </div>
</div>