<section class="ftco-section ftco-intro ftco-no-pt">
	<div class="container">
		<div class="row justify-content-center">
			<div class="col-md-12 text-center">
				<div class="img" style="background-image: url(/pacific-main/images/bg_2.jpg);">
					<div class="overlay"></div>
					<h2>PASİFİK BİR SEYAHAT ACENTASIDIR</h2>
					<p>1995 yılında siz değerli misafirlerimize hizmet vermek için kurduğumuz seyahat acentamız Türkiye Seyahat Acentaları Birliğinin (TÜRSAB) 3589 nolu üyesi olup hizmetlerini yasal olarak Turizm Bakanlığınca düzenlenen seyahat acentası işletme belgesi ile yapmaktadır.</p>
					<p class="mb-0"><a href="#" class="btn btn-primary px-4 py-3">Fiyat Teklifi İsteyin</a></p>
				</div>
			</div>
		</div>
	</div>
</section>