<section class="ftco-section ftco-about ftco-no-pt img">
	<div class="container">
		<div class="row d-flex">
			<div class="col-md-12 about-intro">
				<div class="row">
					<div class="col-md-6 d-flex align-items-stretch">
						<div class="img d-flex w-100 align-items-center justify-content-center" style="background-image:url(/pacific-main/images/about-1.jpg);">
						</div>
					</div>
					<div class="col-md-6 pl-md-5 py-5">
						<div class="row justify-content-start pb-3">
							<div class="col-md-12 heading-section ftco-animate">
								<span class="subheading">Hakkımızda</span>
								<h2 class="mb-4">Turunuzu Bizimle Unutulmaz ve Güvenli Hale Getirin</h2>
								<p>Seyahatlerinizi Unutulmaz Kılın. Her anı özel ve her yolculuk unutulmaz. Biz, hayallerinizi gerçeğe dönüştürmek için buradayız. Seyahat etmeye hazır mısınız?</p>
								<p><a href="#" class="btn btn-primary">Rezervasyon Yap</a></p>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</section>