<head>
    <title>@ViewData["Title"] | Pasifik</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <link href="https://fonts.googleapis.com/css?family=Poppins:300,400,500,600,700,800,900" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Arizonia&display=swap" rel="stylesheet">

    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">

    <link rel="stylesheet" href="~/pacific-main/css/animate.css">

    <link rel="stylesheet" href="~/pacific-main/css/owl.carousel.min.css">
    <link rel="stylesheet" href="~/pacific-main/css/owl.theme.default.min.css">
    <link rel="stylesheet" href="~/pacific-main/css/magnific-popup.css">

    <link rel="stylesheet" href="~/pacific-main/css/bootstrap-datepicker.css">
    <link rel="stylesheet" href="~/pacific-main/css/jquery.timepicker.css">


    <link rel="stylesheet" href="~/pacific-main/css/flaticon.css">
    <link rel="stylesheet" href="~/pacific-main/css/style.css">

    <link rel="stylesheet"
          data-purpose="Layout StyleSheet"
          title="Web Awesome"
          href="/css/app-wa-fba26eda6a3fd6b4d0ce0def1e2ba1d7.css?vsn=d">

    <link rel="stylesheet"
          href="https://site-assets.fontawesome.com/releases/v6.5.2/css/all.css">

    <link rel="stylesheet"
          href="https://site-assets.fontawesome.com/releases/v6.5.2/css/sharp-thin.css">

    <link rel="stylesheet"
          href="https://site-assets.fontawesome.com/releases/v6.5.2/css/sharp-solid.css">

    <link rel="stylesheet"
          href="https://site-assets.fontawesome.com/releases/v6.5.2/css/sharp-regular.css">

    <link rel="stylesheet"
          href="https://site-assets.fontawesome.com/releases/v6.5.2/css/sharp-light.css">
</head>