<section class="ftco-section services-section">
	<div class="container">
		<div class="row d-flex">
			<div class="col-md-6 order-md-last heading-section pl-md-5 ftco-animate d-flex align-items-center">
				<div class="w-100">
					<span class="subheading">Pasifik'e Hoş Geldiniz</span>
					<h2 class="mb-4">Maceraya başlama zamanı</h2>
					<p>Karadeniz’in yemyeşil rotalarında mükemmel bir doğa tatili mi istersiniz? Yoksa Ege ve Akdeniz’in eşsiz rotalarında maviye doyacağınız bir deniz tatili mi? Kısa tatilleri küçük bir kaçamakla birleştireceğiniz hafta sonu turlarına katılmak mı? Kültür Turları sayesinde uzun ya da kısa, yakın ya da uzak gittiğiniz her yer daha bir keyif verici olacak. Şayet tatilimi bir yurt dışı deneyimiyle taçlandırmak istiyorum diyorsanız Pasifik Tur’un Yurt dışı Turlarını tercih edebilir, İtalya, İspanya, Barcelona, Balkanlar ve daha pek çok alternatifin olduğu eşsiz rotalarla tatilinize renk katabilirsiniz.</p>
					<p><a href="#" class="btn btn-primary py-3 px-4">Tur Ara</a></p>
				</div>
			</div>
			<div class="col-md-6">
				<div class="row">
					<div class="col-md-12 col-lg-6 d-flex align-self-stretch ftco-animate">
						<div class="services services-1 color-1 d-block img" style="background-image: url(/pacific-main/images/services-1.jpg);">
							<div class="icon d-flex align-items-center justify-content-center"><span class="flaticon-paragliding"></span></div>
							<div class="media-body">
								<h3 class="heading mb-3">Aktiviteler</h3>
								<p>Heyecan ve eğlence dolu aktiviteler ile seyahatinize renk katın.</p>
							</div>
						</div>
					</div>
					<div class="col-md-12 col-lg-6 d-flex align-self-stretch ftco-animate">
						<div class="services services-1 color-2 d-block img" style="background-image: url(/pacific-main/images/services-2.jpg);">
							<div class="icon d-flex align-items-center justify-content-center"><span class="flaticon-route"></span></div>
							<div class="media-body">
								<h3 class="heading mb-3">Yolculuk Planları</h3>
								<p>Seyahatinize başlamadan önce kendi rotanızı planlamanıza olanak sağlıyoruz. </p>
							</div>
						</div>
					</div>
					<div class="col-md-12 col-lg-6 d-flex align-self-stretch ftco-animate">
						<div class="services services-1 color-3 d-block img" style="background-image: url(/pacific-main/images/services-3.jpg);">
							<div class="icon d-flex align-items-center justify-content-center"><span class="flaticon-tour-guide"></span></div>
							<div class="media-body">
								<h3 class="heading mb-3">Özel Rehber</h3>
								<p>Deneyimli rehber kadromuz ile katılımcılarımıza aile ortamında tatil deneyimi sunuyoruz.</p>
							</div>
						</div>
					</div>
					<div class="col-md-12 col-lg-6 d-flex align-self-stretch ftco-animate">
						<div class="services services-1 color-4 d-block img" style="background-image: url(/pacific-main/images/services-4.jpg);">
							<div class="icon d-flex align-items-center justify-content-center"><span class="flaticon-map"></span></div>
							<div class="media-body">
								<h3 class="heading mb-3">Konum Yöneticisi</h3>
								<p>Seyahat programınız daha karmaşıksa ekibimiz size özel bir rota çizebilir.</p>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</section>